* {
    outline: none;
}

div input[type=number]{
    border: none;
    border-bottom: 2px solid #38ada9;
    box-shadow: 0 2px 4px 0 rgba(0,0,0, 0.350);
    padding: 12px 30px;

    
}

#finish{
    border: none;
}

#step{
    
    margin-top: 30px;
}

#btn {
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background: #fff;
    color: #38ada9;
    font-size: 16px;
    padding: 13px 40px;
    margin-right: 100px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0, 0.5);
    transition: background 0.5s ;
    transition: color 0.5s;
    
}

#btn:hover,
#btn:active{
    color: #fff;
    background: #38ada9;
}

#answer{
    color: #a4b0be;
    margin-top: 50px;
    margin-right: 140px;
    font-size: 16px;
}