*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    
    font-family: monospace sans-serif;
    font-size: 20px;
    color: #eeeeee;
    background-color: #22313F;
}

body{
    background-image: linear-gradient(rgba(0,0,0, 0.7));
}


h1{
    color: #D2D7D3;
    margin: 20px 0 10px 20px ;
}

p{
    margin: 20px;
}

div{
    margin-left: 20px;
    
}

div#iam-div{
    
    margin: 40px;
    padding: 50px;
    background-color: #000;
    width: 220px;
    height: 130px;
    text-align: center;
    vertical-align: middle;
}

form{
    margin: 40px
}
input[type=number]{
    padding: 10px;
}

input[type=button]{
    
    padding: 10px 30px;
    margin-top: 10px;
    margin-left: -20px;
    border-radius: 5px;
    background-color: #ccc;
    

}

form p{
    
    display: inline;
}