/* BASIC SETUP*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
    
}

html{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #fff;
}

body{
    
    background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7));
}

/* HEADING */

h1{
   
    margin: 40px ; 
}

h1:after{
    display: block;
    content: "";
    background-color: #BF55EC;
    width: 100px;
    height: 3px;
    margin-top: 20px;
}


/*PARAGRAPHS*/

p{
    margin: 40px;
}